<!-- /snippets/collection-sidebar.liquid -->

<h3>Browse by Collection</h3>

<ul class="no-bullets">

{% for link in linklists.collection-menu.links %}
  <li class="h5 small-cap">
    <a href="{{ link.url }}" title="{{ 'link.title' }}">{{ link.title }}</a>
  </li>
{% endfor %}
