<!-- /snippets/collection-sidebar.liquid -->

<h3>More Collections</h3>

<ul class="no-bullets">
{% for collection in collections %}
  {% unless collection.handle == 'frontpage' %}
    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
    <li>
      <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection.title }}</a>
    </li>
  {% endunless %}
{% endfor %}
</ul>
