<div class="box--alert"><strong>Important:</strong> This site is live but in testing mode and not accepting orders. Please send your feedback or questions to <a href="mailto:{{ settings.email_public }}">{{ settings.email_public }}</a>.</div>
