<div class="box--alert"><strong>Important:</strong> This site is here but we’re on vacation. No orders can be taken.{% if settings.shop_vacation != '' %} But we will be back on {{ settings.shop_vacation }}.{% endif %} Please send your feedback or questions to <a href="mailto:{{ settings.email_public }}">{{ settings.email_public }}</a>.</div>
