<!-- /templates/list-collections.liquid -->
{% comment %}

  This page represents the /collections and /products pages.
  It is an optional, but highly recommended, template for your theme.

  More info:
    - http://docs.shopify.com/manual/configuration/store-customization/taking-control-of-collections-listing

{% endcomment %}

<h1 class="section-header__title">All Collections</h1>

{% comment %}
  Loop through each collection, except 'frontpage' and 'all'
  Sort collections by handle
{% endcomment %}
{% assign sorted_collections = collections | sort: 'handle' %}
{% assign collection_item_width = 'large--five-eighths' %}

  {% for collection in sorted_collections %}

    {% unless collection.handle == 'frontpage' or collection.handle == 'all' %}

      <hr class="hr--small">

      <div class="grid-uniform grid--collections">

        {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

        {% assign heading_size = 'h3' %}

        {% include 'collection-grid-item' %}

        <div class="grid--collections__featuring grid__item large--three-eighths medium--one-half push--medium--one-half">
          <h4>Featuring:</h4>
          <ul class="no-bullets">
            {% for product in collection.products limit:2 %}
              {% include 'product-list-item' %}
            {% endfor %}
          </ul>
        </div>

      </div>

    {% endunless %}

  {% endfor %}

</div>
