<!-- /templates/search.liquid -->
{% comment %}

  To return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% comment %}
  Check to enforce respond.js
{% endcomment %}
{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}

{% comment %}
  Avoid accessing search.results before the opening paginate tag.
  If you do, the pagination of results will be broken.
{% endcomment %}
{% paginate search.results by 12 %}

  <div class="grid">
    <div class="grid__item large--two-thirds push--large--one-sixth">

      {% include 'search-bar' %}

      {% if search.performed %}
        {% if search.results_count == 0 %}
          <h2 class="text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h2>
        {% endif %}
      {% else %}
        <h2 class="text-center">{{ 'general.search.title' | t }}</h1>
      {% endif %}

      {% if search.performed %}
        {% if search.results_count > 0 %}
        <h3>{{ 'general.search.results_for_html' | t: terms: search.terms }}</h3>
        {% endif %}
        <div class="grid-uniform">
          {% for product in search.results %}

            {% include 'product-grid-item' %}

          {% endfor %}
        </div>

        {% if paginate.pages > 1 %}
          <div class="pagination">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
          </div>
        {% endif %}

      {% endif %}

    </div>
  </div>

{% endpaginate %}

{% else %}
  {% include 'respond' %}
  {% layout none %}
{% endunless %}
